<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.xbeeant.eoffice.mapper.DocTemplateCategoryMapper">
    <select id="fuzzySearchType" resultMap="BaseResultMap">
      select * from eoffice_doc_template_category where extension like #{type,jdbcType=VARCHAR}
    </select>
</mapper>