<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.xbeeant.eoffice.mapper.FolderMapper">
    <select id="hasPermissionFolders" resultMap="BaseResultMap">
        select fid, pfid, name, icon, path, display_order
        from eoffice_folder
        where deleted = 0
          and fid in (select rid from eoffice_perm where type = 10 and target_id = #{userId,jdbcType=VARCHAR})
    </select>

    <select id="subFolders" resultMap="BaseResultMap">
        select *
        from (
                     select t1.*,
                            if(find_in_set(pfid, @pids) > 0, @pids := concat(@pids, ',', fid), 0) as ischild
                     from (
                                  select fid, pfid, name
                                  from eoffice_folder t
                                  where deleted = 0
                                  order by pfid, fid
                                  ) t1,
                          (select @pids := #{fid,jdbcType=BIGINT}) t2
                     ) t3
        where ischild != 0;
    </select>

    <select id="parents" resultMap="BaseResultMap">
        SELECT t2.*
        FROM (
                     SELECT @r                                                      AS _id,
                            (SELECT @r := pfid FROM eoffice_folder WHERE fid = _id) AS pfid,
                            @l := @l + 1                                            AS lvl
                     FROM (SELECT @r := #{fid,jdbcType=BIGINT}, @l := 0) vars,
                          eoffice_folder AS h
                     WHERE @r &lt;&gt; 0
                     ) t1
                     JOIN eoffice_folder t2 ON t1._id = t2.fid
    </select>

    <update id="updateSize">
        <foreach collection="fids" item="fid">
            update eoffice_folder
            set size = size + #{size,jdbcType=BIGINT}
            where fid = #{fid,jdbcType=BIGINT};
                    update eoffice_resource
                    set size = size + #{size,jdbcType=BIGINT}
                    where rid = #{fid,jdbcType=BIGINT};
        </foreach>
    </update>

    <update id="decreaseSize">
        <foreach collection="fids" item="fid">
            update eoffice_folder
            set size = size - #{size,jdbcType=BIGINT}
            where fid = #{fid,jdbcType=BIGINT};
            update eoffice_resource
            set size = size - #{size,jdbcType=BIGINT}
            where rid = #{fid,jdbcType=BIGINT};
        </foreach>
    </update>
</mapper>