<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.xbeeant.eoffice.mapper.PermMapper">
    <select id="perm" resultMap="BaseResultMap">
        select download, edit, print, `view`, comment, share
        from eoffice_perm
        where rid = #{rid,jdbcType=BIGINT}
          and target_id = #{targetId,jdbcType=BIGINT}
          and `type` = #{type} order by create_at desc limit 1
    </select>

    <select id="sharePerm" resultMap="BaseResultMap">
        select download, edit, print, `view`, comment, share
        from eoffice_perm
        where rid = #{rid,jdbcType=BIGINT}
        and target_id = #{targetId,jdbcType=BIGINT}
        and `type` = #{shareType,jdbcType=INTEGER}
    </select>

    <select id="permGroup" resultMap="BaseResultMap">
        select download, edit, print, `view`, comment, share
        from eoffice_perm
        where rid = #{rid,jdbcType=BIGINT}
          and target_id in (select gid from eoffice_user_group where uid = #{targetId,jdbcType=BIGINT})
          and `type` = #{type}
    </select>

    <select id="sharePermGroup" resultMap="BaseResultMap">
        select download, edit, print, `view`, comment, share
        from eoffice_perm
        where rid = #{rid,jdbcType=BIGINT}
        and target_id in (select gid from eoffice_user_group where uid = #{targetId,jdbcType=BIGINT})
        and  `type` = #{shareType,jdbcType=INTEGER}
    </select>

    <select id="users" resultMap="io.github.xbeeant.eoffice.mapper.UserMapper.BaseResultMap">
        select eu.nickname,
               eu.uid,
               eu.username
        from eoffice_perm ep
                     left join eoffice_user eu on eu.uid = ep.target_id
        where rid = #{rid,jdbcType=BIGINT}
          and target_type = 0
    </select>

    <select id="exists" resultMap="BaseResultMap">
        select *
        from eoffice_perm
        <where>
            rid = #{rid,jdbcType=BIGINT}
                    and eoffice_perm.target_id in
            <foreach collection="targetIds" item="uid" open="(" close=")" separator=",">
                #{uid,jdbcType=BIGINT}
            </foreach>
        </where>
    </select>

    <delete id="removeExists">
        delete
        from eoffice_perm
        <where>
            rid = #{rid,jdbcType=BIGINT}
                    and target_id in
            <foreach collection="targetIds" item="uid" open="(" close=")" separator=",">
                #{uid,jdbcType=BIGINT}
            </foreach>
        </where>
    </delete>
</mapper>