<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.xbeeant.eoffice.mapper.ResourceMapper">
    <select id="folderResources" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from eoffice_resource
        where fid = #{fid,jdbcType=BIGINT}
          and deleted = 0
    </select>

    <select id="hasPermissionResources" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from eoffice_resource
                where fid = #{fid,jdbcType=BIGINT}
                  and deleted = 0
                  and rid in (
                select rid
                from eoffice_perm
                where target_id = #{uid}
                  and (type = 10 or type = 20)
                  and (download = 1 or edit = 1 or print = 1 or view = 1 or share = 1)
        <if test="gids != null and gids.size() != 0">
            union
            select rid
            from eoffice_perm
                    where target_id in
            <foreach collection="gids" item="gid" close=")" open="(" separator=",">
                #{gid,jdbcType=BIGINT}
            </foreach>
            and (type = 10 or type = 20)
            and (download = 1 or edit = 1 or print = 1 or view = 1 or share = 1)
        </if>
        )
    </select>

    <select id="hasPermissionResourcesByKeyWord" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from eoffice_resource
        where deleted = 0
          and `name` like #{keyWord,jdbcType=VARCHAR}
          and (
                rid in (
                        select rid
                        from eoffice_perm
                        where target_id = #{uid}
                          and (type = 10 or type = 20)
                          and (download = 1 or edit = 1 or print = 1 or view = 1 or share = 1)
                        union
                        select rid
                        from eoffice_perm
                        where target_id in (select gid from eoffice_user_group where uid = #{uid,jdbcType=VARCHAR})
                          and (type = 10 or type = 20)
                          and (download = 1 or edit = 1 or print = 1 or view = 1 or share = 1)
                        )
                        or fid in (
                        select rid
                        from eoffice_perm
                        where target_id = #{uid}
                          and (type = 10 or type = 20)
                          and (download = 1 or edit = 1 or print = 1 or view = 1 or share = 1)
                        union
                        select rid
                        from eoffice_perm
                        where target_id in (select gid from eoffice_user_group where uid = #{uid,jdbcType=VARCHAR})
                          and (type = 10 or type = 20)
                          and (download = 1 or edit = 1 or print = 1 or view = 1 or share = 1)
                        )
                )
    </select>

    <resultMap id="ResourcePermMap" type="io.github.xbeeant.eoffice.rest.vo.ResourcePerm">
        <result column="download" jdbcType="BIT" property="download"/>
        <result column="edit" jdbcType="BIT" property="edit"/>
        <result column="print" jdbcType="BIT" property="print"/>
        <result column="view" jdbcType="BIT" property="view"/>
        <result column="comment" jdbcType="BIT" property="comment"/>
        <result column="share" jdbcType="BIT" property="share"/>
        <result column="name" jdbcType="VARCHAR" property="targetName"/>
        <result column="targetType" jdbcType="VARCHAR" property="targetType"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
    </resultMap>

    <select id="permed" resultMap="ResourcePermMap">
        select u.nickname `name`,
               0          targetType,
               p.pid,
               p.download,
               p.edit,
               p.print,
               p.view,
               p.comment,
               p.share,
               p.type
        from eoffice_perm p
                     left join eoffice_user u on u.uid = p.target_id
        where p.rid = #{targetId,jdbcType=BIGINT}
          and p.target_type = 0
        union
        select g.name `name`,
               1      targetType,
               p.pid,
               p.download,
               p.edit,
               p.print,
               p.view,
               p.comment,
               p.share,
               p.type
        from eoffice_perm p
                     left join eoffice_group g on g.gid = p.target_id
        where p.rid = #{targetId,jdbcType=BIGINT}
          and p.target_type = 1
    </select>
</mapper>