<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.xbeeant.eoffice.mapper.ShareMapper">
    <resultMap id="ShareResourceMap" type="io.github.xbeeant.eoffice.rest.vo.ShareResourceVo">
        <id column="share_id" jdbcType="BIGINT" property="shareId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="auth_code" jdbcType="VARCHAR" property="authCode"/>
        <result column="endtime" jdbcType="TIMESTAMP" property="endtime"/>

        <association property="resource" javaType="io.github.xbeeant.eoffice.rest.vo.ResourceVo">
            <result column="fid" jdbcType="BIGINT" property="fid"/>
            <result column="sid" jdbcType="BIGINT" property="sid"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="extension" jdbcType="VARCHAR" property="extension"/>
            <result column="size" jdbcType="BIGINT" property="size"/>
            <result column="display_order" jdbcType="SMALLINT" property="displayOrder"/>
            <result column="path" jdbcType="VARCHAR" property="path"/>
            <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
            <result column="create_by" jdbcType="BIGINT" property="createBy"/>
            <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
            <association property="perm" javaType="io.github.xbeeant.eoffice.model.Perm">
                <id column="pid" jdbcType="BIGINT" property="pid"/>
                <result column="download" jdbcType="BIT" property="download"/>
                <result column="edit" jdbcType="BIT" property="edit"/>
                <result column="print" jdbcType="BIT" property="print"/>
                <result column="view" jdbcType="BIT" property="view"/>
                <result column="comment" jdbcType="BIT" property="comment"/>
                <result column="share" jdbcType="BIT" property="share"/>
            </association>
        </association>
    </resultMap>

    <select id="sharedToUser" resultMap="ShareResourceMap">
        select es.share_id,
               es.auth_code,
               es.url,
               es.type,
               es.endtime,
               er.fid,
               er.rid,
               er.sid,
               er.name,
               er.extension,
               er.size,
               er.display_order,
               er.path,
               er.create_at,
               er.create_by,
               er.update_at,
               ep.pid,
               ep.download,
               ep.edit,
               ep.print,
               ep.view,
               ep.comment,
               ep.share
        from eoffice_share es
                     left join eoffice_resource er on er.rid = es.target_id
                     left join eoffice_perm ep on ep.target_id = es.share_id
        where es.deleted = 0 and es.share_id in (
                select share_id
                from eoffice_share_range
                where es.target_id = #{userId,jdbcType=VARCHAR}
                union
                select share_id
                from eoffice_share_range
                where es.target_id in (
                        select gid
                        from eoffice_user_group
                        where uid = #{userId,jdbcType=VARCHAR}
                        )
                )
    </select>
</mapper>